/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 juin 2022, 12:22:01
    Author     : The_Me
*/

AnchorPane {
    -fx-background-color: #0b0909;
    -fx-border-color: #4c4c4c;
}


TextField{
    -fx-background-color: #4c4c4c;
    -fx-text-fill: #d1d1d1;
}

/*TreeView{
    
    -fx-padding: 20
}*/

TreeItem{
    -fx-background-color: #0b0909;
}


.tree-cell{
    -fx-background-color: #0b0909;
    -fx-text-fill: #d1d1d1;
    -fx-font: normal normal 18px '';
}

TreeView:horizontal,
TreeView:horizontal *.increment-button,
TreeView:horizontal *.decrement-button,
TreeView:horizontal *.increment-arrow, 
TreeView:horizontal *.decrement-arrow {
    -fx-padding: 0;
}

Pane{
    -fx-background-color: #4c4c4c;
}

Pane:hover{
    -fx-background-color: #595959;
}

.driveLabel{
    -fx-text-fill: #d1d1d1;
    -fx-font: normal normal 18px '';
}